<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC_projekt_Skolni_portal.styles.css" asp-append-version="true" />
    <title>@ViewData["titulek"]</title>
</head>
<body>
    <h1 class="@ViewData["NadpisClass"]">
        @ViewData["Title"]
    </h1>
    <header class="hlavicka">
            <nav class="menu">
            <a asp-controller="Home" asp-action="Index">Domů</a>
                <div class="loginmenu">
                    <a asp-controller="User" asp-action="Prihlaseni">Přihlaš se</a>
                </div>

            </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <hr />
        <p>&copy; Tým 2026</p>
    </footer>
</body>
</html>
